<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="{{ url_for('static', filename='javascript/search.js') }}"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}"/>
        <title>くそぬきbot</title>
    </head>
      <body>
        <header>
            <!-- <img src="../../static/images/くそぬきbot.svg"> -->
            <div class="dropdown">
                {% if current_user.is_anonymous %}
                <button class="dropbtn"><i class="fa-regular fa-circle-user fa-shake"></i></button>
                {% else %}
                <button class="dropbtn"><img src="{{ current_user.avatar }}" alt="{{ current_user.name }}"></button>
                {% endif %}
                <div class="dropdown-content">
                    {% if current_user.is_anonymous %}
                    <a href="/login"><i class="fa-solid fa-arrow-right-to-bracket"></i>ログイン</a>
                    {% else %}
                    <a href="{{ url_for('user_detail', id=current_user.id) }}"><i class="fa-regular fa-user"></i>{{ current_user.year }}{{ current_user.group }} {{ current_user.name }}</a>
                    <a href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i>ログアウト</a>
                    <label for="setting"><a><i class="fa-solid fa-gears"></i>設定</a></label>
                    {% endif %}
                </div>
            </div>
            <div class="hamburger-menu">
                <input type="checkbox" id="menu-btn-check">
                <label for="menu-btn-check" class="menu-btn"><span></span></label>
                <!--ここからメニュー-->
                <div class="menu-content">
                    <ul>
                        <li>
                            <a href="{{ url_for('add_assignment') }}"><i class="fa-solid fa-circle-plus"></i>課題追加</a>
                        </li>
                        <li>
                            <a href="{{ url_for('add_quiz') }}"><i class="fa-solid fa-circle-plus"></i>小テスト追加</a>
                        </li>
                        <li>
                            <a href="{{ url_for('add_examination') }}"><i class="fa-solid fa-circle-plus"></i>試験範囲追加</a>
                        </li>
                        <li>
                            <a href="{{ url_for('add_image') }}"><i class="fa-solid fa-circle-plus"></i>写真追加</a>
                        </li>
                        <li>
                            <a href="{{ url_for('add_timetable') }}"><i class="fa-solid fa-circle-plus"></i>時間割追加</a>
                        </li>
                        <li>
                            <a href="{{ url_for('user_list') }}"><i class="fa-solid fa-table-list"></i>ユーザー一覧</a>
                        </li>
                        <li>
                            <a href="{{ url_for('assignment_list') }}"><i class="fa-solid fa-table-list"></i>課題一覧</a>
                        </li>
                        <li>
                            <a href="{{ url_for('quiz_list') }}"><i class="fa-solid fa-table-list"></i>小テスト一覧</a>
                        </li>
                        <li>
                            <a href="{{ url_for('examination_list') }}"><i class="fa-solid fa-table-list"></i>試験範囲一覧</a>
                        </li>
                        <li>
                            <a href="{{ url_for('change_list') }}"><i class="fa-solid fa-table-list"></i>授業変更一覧</a>
                        </li>
                        {% if current_user.role == 'ADMINISTRATOR' %}
                        <li>
                            <a href="{{ url_for('log_list') }}"><i class="fa-solid fa-table-list"></i>ログ一覧</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <!--ここまでメニュー-->
            </div>
        </header>
        <input type="checkbox" id="setting">
        <div class="setting-overlay">
            <div class="popup-window">
                <h2>ユーザー設定</h2>
                <form action="{{ url_for('user_update', id=current_user.id) }}" method="POST" class="Form">
                    <div class="Form-Item">
                        <p class="Form-Item-Label">
                            名前
                        </p>
                        <input name="name" type="text" class="Form-Item-Input" value="{{ current_user.name }}" required>
                    </div>
                    <div class="Form-Item">
                        <p class="Form-Item-Label">
                            アバター
                        </p>
                        <input name="avatar" type="text" class="Form-Item-Input" value="{{ current_user.avatar }}" required>
                    </div>
                    <div class="Form-Item">
                        <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>学年</p>
                        <select name="year" class="Form-Item-Input" required>
                            <option value="{{ current_user.year }}" hidden>{{ current_user.year }}</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <div class="Form-Item">
                        <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>クラス</p>
                        <select name="group" class="Form-Item-Input" required>
                            <option value="{{ current_user.group }}" hidden>{{ current_user.group }}</option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                            <option value="E">E</option>
                            <option value="F">F</option>
                            <option value="G">G</option>
                            <option value="H">H</option>
                            <option value="I">I</option>
                        </select>
                    </div>
                    <input type="submit" class="Form-Btn" value="設定完了">
                </form>
                <label class="popup-close" for="setting">
                    <svg width="18" height="18" xmlns="http://www.w3.org/2000/svg">
                        <line x1="0" y1="0" x2="18" y2="18" stroke="white" stroke-width="3"></line>
                        <line x1="0" y1="18" x2="18" y2="0" stroke="white" stroke-width="3"></line>
                    </svg>
                </label>
            </div>
        </div>
        <div class="background">
        {% block content %}
        {% endblock %}
        </div>
        <footer>
            <ul class="footer_menu">
                <li class="footer_item"><a href="{{ url_for('index') }}"><i class="fas fa-home"></i>ホーム</a></li>
                <li class="footer_item"><a href="{{ url_for('assignment_list') }}"><i class="fa-solid fa-list-check"></i>課題</a></li>
                <li class="footer_item"><a href="{{ url_for('quiz_list') }}"><i class="fa-solid fa-square-pen"></i>テスト</a></li>
            </ul>
        </footer>
        <script src="https://kit.fontawesome.com/fb4709c9fe.js" crossorigin="anonymous"></script>
    </body>
</html>