a {
    margin: auto;
    display: flex;
    color: #2b2b2b;
    text-decoration: none;
    padding-left: 30px;
}
.user-name:hover {
    transition: 0.2s ease-in;
    opacity: 0.8;
}
.user-icon {
    border-radius: 50%;
    margin-right: 20px;
    width: 35px;
}
.user-name {
    font-size: 20px;
}
@media screen and (max-width: 959px) {
	/* for Tablet */
}
@media screen and (max-width: 480px) {
    /* for smartphone */
    .user-name {
        text-decoration: none;
        font-size: 15px;
    }
    .user-icon {
        border-radius: 50%;
        margin-right: 10px;
        width: 30px;
    }
}