/* import */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300&family=Zen+Kaku+Gothic+New&display=swap');

/* for PC */
* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Zen Kaku Gothic New', sans-serif;
}
a {
    text-decoration: none;
    font-weight: bold;
    color: #2b2b2b;
}
.container {
    max-width: 90%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 80px;
}
.background {
    background-color: rgb(219, 220, 220, 0.2)
}
header {
    display: block;
    height: 80px;
    width: 100%;
    position: fixed;
    background-color: #ffffff;
    border-bottom: solid 1px #16160e;
    box-shadow: 0 0 1px #16160e;
    z-index: 90;
}
/* header img{
    height: 90px;
} */
.dropdown {
    z-index: 90;
    margin: 0 5px;
    display: inline-block;
}
.dropbtn {
    height: 80px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}
.dropbtn i {
    font-size: 30px;
    padding: 5px 15px;
}
.dropbtn img {
    height: 60px;
    border-radius: 50%;
}
.dropbtn img:hover {
    transition: all 0.4s;
    box-shadow: 3px 3px 0 #2b2b2b;
}
.dropbtn:hover {
    transition: all 0.4s;
    color: #5b7e91;
    opacity: 0.8;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: #000b00;
    padding: 12px 15px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}
.dropbtn label {
    cursor: pointer;
}
.dropdown-content i {
    padding: 5px;
}
.dropdown-content a:hover {
    background-color: #e5e4e6;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.menu-btn {
    position: fixed;
    display: flex;
    right: 10px;
    top: 10px;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #2b2b2b;
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}
#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}
#menu-btn-check {
    display: none;
}
#menu-btn-check:checked ~ .menu-content {
    left: 0;/*メニューを画面内へ*/
}
.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;/*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: #887f7a;
    transition: all 0.3s ease-in-out;/*アニメーション設定*/
}
.menu-content ul {
    padding: 70px 10px 0;
}
.menu-content ul li {
    border-bottom: solid 1px #e6eae3;
    list-style: none;
}
.menu-content ul li:hover {
    transition: 0.5s;
    opacity: 0.6;
}
.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color: #e6eae3;
    text-decoration: none;
    padding: 20px 15px 10px 0;
    position: relative;
}
.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 25px;
}
.menu-content ul li a i{
	display: inline-block;
	font-size: 1.5em;
    margin-right: 10px;
}
footer {
    position: fixed;
    bottom: 0;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #393f4c;
}
.footer_menu{
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
}
.footer_menu li{
	list-style: none;
    max-width: 100%;
	text-align: center;
}
.footer_menu li:hover{
    transition: 0.5s linear;
    background-color: rgba(237, 247, 247, 0.2);
}
.footer_menu li a{
	text-decoration: none;
	display: inline-block;
	font-size: 0.9em;
    width: 100%;
    height: 70px;
    padding-top: 15px;
    margin-right: 500px;
	color: #eaf4fc;
}
.footer_menu li a:hover{
    transition: 0.5s linear;
	color: #fdeff2;
}
.footer_menu li a i{
	display: block;
	font-size: 2.4em;
	margin-bottom: 1%;
}

h1 {
    margin-top: 10px;
    margin-left: 10px;
}
h1 {
    margin: 10px;
}
.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.sub-grid {
    display: grid;
    grid-template-columns: 1fr;
}
.grid-item {
    background-color: #ffffff;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 1px #16160e;
}
.red-grid-item {
    background-color: #d0576b;
    color: #ffffff;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 1px #16160e;
}
.red-grid-item h3 {
    padding: 15px;
    font-size: 15px;
}
.red-grid-item li {
    list-style-type: georgian;
    font-weight: bold;
    margin-left: 20px;
    padding: 5px;
}
.table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: 'Noto Serif JP', serif;
}
.table tr:nth-child(2n+1){
    background: #f3f3f3;
}
.table th {
    padding: 10px;
    background: #2b2b2b;
    border-right: solid 1px #2b2b2b;
    color: #ffffff;
}
.table th:last-child {
    border-right: none;
}
.table td {
    padding: 12px;
    border-right: solid 1px #2b2b2b;
}
.table td:hover{
    opacity: 0.8;
}
.table td:last-child {
    border-right: none;
}
.table td.red {
    color: #c9171e;
    font-weight: bold;
}
.tooltip { /* 補足説明するテキストのスタイル */
    position: relative;
    cursor: pointer;
    z-index: 1;
    padding: 0 5px;
}
.description_top { /* ツールチップのスタイル */
    width: 150px; /* 横幅 */
    position: absolute;
    left: 50%;
    bottom: 80%; /* Y軸の位置 */
    transform: translateX(-50%);
    margin-bottom: 8px; /* テキストとの距離 */
    padding: 8px;
    border-radius: 10px; /* 角の丸み */
    background-color: #595857;
    font-weight: bold;
    color: #fff;
    text-align: center;
    visibility: hidden; /* ツールチップを非表示に */
    opacity: 0; /* 不透明度を0％に */
    z-index: 0;
    transition: 0.5s all; /* マウスオーバー時のアニメーション速度 */
}
.tooltip:hover .description_top { /* マウスオーバー時のスタイル */
    bottom: 100%; /* Y軸の位置 */
    visibility: visible; /* ツールチップを表示 */
    opacity: 1; /* 不透明度を100％に */
}
.name {
    color: #2b2b2b;
    text-decoration: none;
}
.edit_button {
    padding: 5px 15px;
    border: solid 1px #474a4d;
    box-shadow: 0 0 3px #474a4d;
    color: #474a4d;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
}
.edit_button:hover {
    transition: 0.4s;
    background-color: #474a4d;
    color: #ffffff;
    opacity: 0.8;
}
.search_box {
    padding: 10px;
}
.search_box i {
    position: absolute;
    z-index: -1;
    margin: 20px;
}
#searchInput {
    margin: 5px;
    max-width: 200px;
    padding: 15px 15px;
    border: none;
    outline: 0;
    font-size: 15px;
    font-weight: bold;
    font-family: FontAwesome;
}
#searchInput:hover {
    transition: all 0.4s;
    background-color: #f3f3f2;
    box-shadow: #d69090 0 0 2px inset;
    padding: 15px 25px;
}
.form {
    width: 100%;
    padding: 20px 40px;
}
.Form-Item {
    border-top: 1px solid #ddd;
    padding-top: 24px;
    padding-bottom: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}
.Form-Item:nth-child(5) {
    border-bottom: 1px solid #ddd;
}
.Form-Item-Label {
    width: 100%;
    max-width: 248px;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-size: 18px;
}
.Form-Item-Label.isMsg {
    margin-top: 8px;
    margin-bottom: auto;
}
.Form-Item-Label-Required {
    border-radius: 6px;
    margin-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 48px;
    display: inline-block;
    text-align: center;
    background: #ec6d71;
    color: #fff;
    font-size: 14px;
}
.Form-Item-Input {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-left: 40px;
    padding-left: 1em;
    padding-right: 1em;
    height: 48px;
    flex: 1;
    width: 100%;
    max-width: 410px;
    background: #eaedf2;
    font-size: 18px;
}
.Form-Image-Input {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-left: 40px;
    padding-left: 1em;
    padding-right: 1em;
    height: 48px;
    flex: 1;
    width: 100%;
    max-width: 410px;
    background: #eaedf2;
    font-size: 18px;
}
.Form-Image-Input:hover {
    outline: solid 2px #a0d8ef;
    opacity: 0.8;
}
.Form-Image-Input p {
    font-size: 18px;
    margin-top: auto;
    margin-bottom: auto;
}
.Form-Image-Input input {
    display: none;
}
.Form-Item-Input:focus {
    outline: solid 2px #a0d8ef;
    opacity: 0.8;
}
.Form-Item-Textarea {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-left: 40px;
    padding-left: 1em;
    padding-right: 1em;
    height: 216px;
    flex: 1;
    width: 100%;
    max-width: 410px;
    background: #eaedf2;
    font-size: 18px;
}
.Form-Item-Textarea:focus {
    outline: solid 2px #a0d8ef;
    opacity: 0.8;
}
.a {
    border-radius: 6px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 280px;
    display: block;
    letter-spacing: 0.05em;
    background: #5bc8ac;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}
.Form-Btn {
    outline: none;
	display: block;
	text-align: center;
	text-decoration: none;
    margin: 20px auto;
	padding: 10px 50px;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 2px #2b2b2b;
	color: #fff;
    font-weight: bold;
	background: #27acd9;
    cursor: pointer;
}
.Form-Btn:hover {
	background-position: right center;
	background-size: 200% auto;
	-webkit-animation: pulse 2s infinite;
	animation: shad26 1.5s infinite;
	color: #fff;
}
.Form-Btn.red {
    background: #d0576b;
}
.Form-Btn.red:hover {
	-webkit-animation: pulse 2s infinite;
	animation: shad26_red 1.5s infinite;
	color: #fff;
}
.Form-Buttons {
    display: flex;
    text-align:  center;
    margin-right: auto;
    margin-left: auto;
}
@keyframes shad26 {
	0% {box-shadow: 0 0 0 0 #27acd9;}
	70% {box-shadow: 0 0 0 10px rgb(39 172 217 / 0%);}
	100% {box-shadow: 0 0 0 0 rgb(39 172 217 / 0%);}
}
@keyframes shad26_red {
	0% {box-shadow: 0 0 0 0 #d0576b;}
	70% {box-shadow: 0 0 0 10px rgb(39 172 217 / 0%);}
	100% {box-shadow: 0 0 0 0 rgb(39 172 217 / 0%);}
}

#popup, #setting {
    display: none; /* label でコントロールするので input は非表示に */
}
.popup-overlay, .setting-overlay {
    display: none; /* input にチェックが入るまでは非表示に */
}
#setting:checked ~ .setting-overlay {
    display: block;
    z-index: 99999;
    background-color: #00000070;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
#popup:checked ~ .popup-overlay {
    display: block;
    z-index: 99999;
    background-color: #00000070;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
.popup-window {
    width: 75vw;
    height: 75vh;
    max-width: 560px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 6px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.popup-text {
    margin: 0;
}
.popup-text:not(:last-of-type) {
    margin-bottom: 1em
}
.popup-close {
    cursor: pointer;
    position: absolute;
    top: -26px;
    right: 0;
}
.popup-close:hover {
    opacity: 0.8;
    transition: 0.4s;
}
.popup-open{
    display: inline-block;
    padding: 10px 20px;
    background-color: #27acd9;
    box-shadow: #2b2b2b 0 0 1px;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    color: #fff;
    font-weight: bold;
    transition: 0.3s;
}
.popup-open i{
    padding-right: 5px;
}
.popup-open:hover{
    opacity: 0.8;
    transition: 0.4s;
}
.table-header {
    display: table;
    width: 100%;
}
.table-header input{
    text-align: left;
    float: left;
}
.table-header label{
    text-align: right;
    float: right;
}

@media screen and (max-width: 959px) {
	/* for Tablet */
}
@media screen and (max-width: 480px) {
	/* for Smartphone */
    .container {
        max-width: 98%;
        margin: auto;
        padding-top: 80px;
        padding-bottom: 80px;
    }
    header img{
        height: 75px;
    }
    .menu-btn {
        position: fixed;
        top: 15px;
    }
    .menu-content ul li a {
        display: block;
        width: 100%;
        font-size: 15px;
        box-sizing: border-box;
        color: #e6eae3;
        text-decoration: none;
        padding: 30px 15px 10px 0;
        position: relative;
    }
    .menu-content ul li a::before {
        content: "";
        width: 12px;
        height: 12px;
        border-top: solid 2px #ffffff;
        border-right: solid 2px #ffffff;
        transform: rotate(45deg);
        position: absolute;
        right: 11px;
        top: 40px;
    }
    .footer_menu li a{
        text-decoration: none;
        display: inline-block;
        font-size: 0.8em;
        width: 100%;
        padding-top: 15px;
        margin-right: 90px;
        color: #eaf4fc;
    }
    .footer_menu li a i{
        display: block;
        font-size: 2.4em;
        line-height: 1em;
        margin-bottom: 5px;
    }
    .main-grid {
        display: grid;
        grid-template-columns: 1fr;
    }
    .table {
        font-size: 10px;
    }
    .table td {
        padding: 10px 0;
        border-right: solid 1px #2b2b2b;
    }
    .table th:last-child {
        padding: 0 15px;
    }
    .edit_button {
        padding: 4px 2px;
        background-color: #474a4d;
        box-shadow: 0 0 0 #474a4d;
        color: #ffffff;
        border-radius: 50%;
        font-size: 8px;
    }
    .edit_button:hover {
        transition: 0.4s;
        box-shadow: 0 0 2px #474a4d;
        background-color: #ffffff;
        color: #474a4d;
        opacity: 0.9;
    }
    .Form-Item {
        display: block;
    }
    .Form-Item-Label {
        font-size: 16px;
    }
    .Form-Item-Label-Required {
        border-radius: 6px;
        margin-right: 8px;
        padding: 5px 0;
        width: 30px;
        display: inline-block;
        font-size: 10px;
    }
    .Form-Item-Input {
        width: 90%;
        margin-left: 0;
        margin-top: 18px;
        height: 40px;
        flex: inherit;
        font-size: 15px;
    }
    .Form-Item-Textarea {
        width: 90%;
        margin-top: 18px;
        margin-left: 0;
        height: 200px;
        flex: inherit;
        font-size: 15px;
    }
    .Form-Btn {
        margin-top: 0;
        padding: 15px 20px;
        font-size: 15px;
        box-shadow: 0 0 1px #2b2b2b;
    }
    .popup-window *.Form-Item {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .popup-window *.Form-Item-Label {
        font-size: 14px;
    }
    .popup-window *.Form-Item-Input {
        height: 25px;
    }
}