@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&family=Zen+Antique&display=swap');

* {
  margin: auto;
  padding: auto;
}
a {
  text-decoration: none;
}
body {
  font-family: 'Sawarabi Gothic', sans-serif;
}
header, main, footer {
  padding-left: 300px;
}
header img {
  height: 100%;
}
.container {
  text-align: center;
  padding-left: 300px;
}
.header {
  position: fixed;
  display: flex;
  padding-left: 300px;
}
.footer {
  position: fixed;
  bottom: 0;
  background-color: #0f2350;
  color: #f3f3f2;
  width: 100%;
  height: 100px;
}
.status img {
  border-radius: 50%;
  border: 5px solid #00cc00;
  width: 80%;
  height: 80%;
}
.main-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  gap: 10px 20px;
}
.grid-item {
  padding: 80px;
  box-shadow: 0 0 2px #000b00;
}
.table {
  text-align: center;
  table-layout: fixed;
}
.table img {
  width: 15%;
  margin: 5px;
  border-radius: 50%;
}
.error {
  margin: 10px;
  color: red;
}
table, td, th {
  text-align: center;
}
.user_details img {
  border-radius: 50%;
  width: 40%;
}


@media only screen and (max-width : 992px) {
  * {
    padding-left: 0;
  }
  header, main, footer {
    padding-left: 0;
  }
}

