{% extends "common/layout.html" %}

{% block content %}
<div class="container">
    <h1>課題追加</h1>
    <form action="/add_assignment" method="POST" class="Form">
        <div class="Form-Item">
            <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>クラス</p>
            <select name="group" class="Form-Item-Input">
                <option value="" hidden>クラスを選択</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
                <option value="E">E</option>
                <option value="F">F</option>
                <option value="G">G</option>
                <option value="H">H</option>
                <option value="I">I</option>
                <option value="ALL">ALL</option>
            </select>
        </div>
        <div class="Form-Item">
            <p class="Form-Item-Label">
                <span class="Form-Item-Label-Required">必須</span>名前
            </p>
            <input name="name" type="text" class="Form-Item-Input" placeholder="例）p.100-105">
        </div>
        <div class="Form-Item">
            <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>教科</p>
            <select name="subject" class="Form-Item-Input">
                <option value="" hidden>教科を選択</option>
                <option value="ヴェリタス">ヴェリタス</option>
                <option value="言語文化">言語文化</option>
                <option value="現代の国語">現代の国語</option>
                <option value="英語コミュニケーション">英語コミュニケーション</option>
                <option value="論理表現">論理表現</option>
                <option value="数学">数学</option>
                <option value="S.E.P(物理)">S.E.P(物理)</option>
                <option value="S.E.B(生物)">S.E.B(生物)</option>
                <option value="S.E.C(化学)">S.E.C(化学)</option>
                <option value="音楽">音楽</option>
                <option value="美術">美術</option>
                <option value="保健">保健</option>
                <option value="体育">体育</option>
                <option value="地理総合">地理総合</option>
                <option value="公共">公共</option>
            </select>
        </div>
        <div class="Form-Item">
            <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>提出方法</p>
            <select name="method" class="Form-Item-Input">
                <option value="" hidden>提出手段を選択</option>
                <option value="クラスルーム">クラスルーム</option>
                <option value="直接提出">直接提出</option>
                <option value="発表">発表</option>
                <option value="提出なし">提出なし</option>
                <option value="その他">その他</option>
            </select>
        </div>
        <div class="Form-Item">
            <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>期限</p>
            <input name="deadline" type="date" class="Form-Item-Input" value="{{ datetime.datetime.now().strftime('%Y-%m-%d')}}">
        </div>
        <input type="submit" class="Form-Btn" value="課題追加">
    </form>
</div>
{% endblock %}