{% extends "common/layout.html" %}

{% block content %}
<div class="container">
    <h1>課題一覧</h1>
    <input type="search" id="searchInput" placeholder="&#xf002 キーワードで検索">
    <div class="sub-grid">
        <div class="grid-item">
            <h2>今日以降の課題</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">名前</th>
                        <th scope="col">教科</th>
                        <th scope="col">提出期限</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                    <tbody>
                    {% for assignment in assignments_today %}
                    <tr>
                        <td><a class="name" href="{{ url_for('assignment_detail', id=assignment.id) }}">{{ assignment.name }}</a></td>
                        <td>{{ assignment.subject }} - {{ assignment.group }}組</td>
                        <td>{{ assignment.deadline.strftime('%m月%d日') }}</td>
                        <td>
                            <a class="edit_button" href="{{ url_for('assignment_edit', id=assignment.id) }}" role="button">編集</a>
                        </td>
                    </tr>
                    {% endfor %}
                  </tbody>
            </table>
        </div>
        <div class="grid-item">
            <h2>今日以前の課題</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">名前</th>
                        <th scope="col">教科</th>
                        <th scope="col">提出期限</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                    <tbody>
                    {% for assignment in assignments_yesterday %}
                    <tr>
                        <td><a class="name" href="{{ url_for('assignment_detail', id=assignment.id) }}">{{ assignment.name }}</a></td>
                        <td>{{ assignment.subject }} - {{ assignment.group }}組</td>
                        <td>{{ assignment.deadline.strftime('%m月%d日') }}</td>
                        <td>
                            <a class="edit_button" href="{{ url_for('assignment_edit', id=assignment.id) }}" role="button">編集</a>
                        </td>
                    </tr>
                    {% endfor %}
                  </tbody>
            </table>
        </div>
        <div class="grid-item">
            <h2>すべての課題</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">名前</th>
                        <th scope="col">教科</th>
                        <th scope="col">提出期限</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                    <tbody>
                    {% for assignment in assignments %}
                    <tr>
                        <td><a class="name" href="{{ url_for('assignment_detail', id=assignment.id) }}">{{ assignment.name }}</a></td>
                        <td>{{ assignment.subject }} - {{ assignment.group }}組</td>
                        <td>{{ assignment.deadline.strftime('%m月%d日') }}</td>
                        <td>
                            <a class="edit_button" href="{{ url_for('assignment_edit', id=assignment.id) }}" role="button">編集</a>
                        </td>
                    </tr>
                    {% endfor %}
                  </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
