{% extends "common/layout.html" %}

{% block content %}
<div class="container">
    <h2>試験範囲一覧</h2>
    <input type="search" id="searchInput" placeholder="&#xf002 キーワードで検索">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">学期</th>
                <th scope="col">教科</th>
                <th scope="col">媒体</th>
                <th scope="col">範囲</th>
                {% if current_user.is_authenticated %}
                <th scope="col"></th>
                {% endif %}
            </tr>
        </thead>
            <tbody>
            {% for examination in examinations %}
            <tr>
                <td>{{ examination.term }}</td>
                <td>{{ examination.subject }}</td>
                <td>{{ examination.medium }}</td>
                <td>{{ examination.name }}</td>
                {% if current_user.is_authenticated %}
                <td>
                    <a class="edit_button" href="{{ url_for('examination_edit', id=examination.id) }}" role="button">編集</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
          </tbody>
    </table>
</div>
{% endblock %}
