{% extends "common/layout.html" %}

{% block content %}
<div class="container">
    <h1>写真一覧</h1>
    <input type="search" id="searchInput" placeholder="&#xf002 キーワードで検索">
    <div class="sub-grid">
        <div class="grid-item">
            <h2>すべての写真</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">写真</th>
                        <th scope="col">名前</th>
                        <th scope="col">教科</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                    <tbody>
                    {% for image in images %}
                    <tr>
                        <td><a class="name" href="{{ url_for('image_detail', id=image.id) }}">{{ image.url }}</a></td>
                        <td><a class="name" href="{{ url_for('image_detail', id=image.id) }}">{{ image.name }}</a></td>
                        <td>{{ image.subject }}</td>
                        <td>
                            <a class="edit_button" href="{{ url_for('image_edit', id=image.id) }}" role="button">編集</a>
                        </td>
                    </tr>
                    {% endfor %}
                  </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
