{% extends "common/layout.html" %}

{% block content %}
<div class="container">
    <h1>小テスト一覧</h1>
    <form class="search_box">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" id="searchInput" placeholder="キーワードで検索">
    </form>
    <div class="sub-grid">
        <div class="grid-item">
            <h2>今日以降の小テスト</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">名前</th>
                        <th scope="col">教科</th>
                        <th scope="col">実施日</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                    <tbody>
                    {% for test in quiz_today %}
                    <tr>
                        <td><a class="name" href="{{ url_for('quiz_detail', id=test.id) }}">{{ test.name }}</a></td>
                        <td>{{ test.subject }} - {{ test.group }}組</td>
                        <td>{{ test.implementation_date.strftime('%m月%d日') }}</td>
                        <td>
                            <a class="edit_button" href="{{ url_for('quiz_edit', id=test.id) }}" role="button">編集</a>
                        </td>
                    </tr>
                    {% endfor %}
                  </tbody>
            </table>
        </div>
        <div class="grid-item">
            <h2>今日以前の小テスト</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">名前</th>
                        <th scope="col">教科</th>
                        <th scope="col">実施日</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                    <tbody>
                    {% for test in quiz_yesterday %}
                    <tr>
                        <td><a class="name" href="{{ url_for('quiz_detail', id=test.id) }}">{{ test.name }}</a></td>
                        <td>{{ test.subject }} - {{ test.group }}組</td>
                        <td>{{ test.implementation_date.strftime('%m月%d日') }}</td>
                        <td>
                            <a class="edit_button" href="{{ url_for('quiz_edit', id=test.id) }}" role="button">編集</a>
                        </td>
                    </tr>
                    {% endfor %}
                  </tbody>
            </table>
        </div>
        <div class="grid-item">
            <h2>すべての小テスト</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">名前</th>
                        <th scope="col">教科</th>
                        <th scope="col">実施日</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                    <tbody>
                    {% for test in quiz %}
                    <tr>
                        <td><a class="name" href="{{ url_for('quiz_detail', id=test.id) }}">{{ test.name }}</a></td>
                        <td>{{ test.subject }} - {{ test.group }}組</td>
                        <td>{{ test.implementation_date.strftime('%m月%d日') }}</td>
                        <td>
                            <a class="edit_button" href="{{ url_for('quiz_edit', id=test.id) }}" role="button">編集</a>
                        </td>
                    </tr>
                    {% endfor %}
                  </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
