{% extends "common/layout.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/detail.css') }}"/>
<div class="container">
    <div class="sub-grid">
        <div class="grid-item">
            <h2>ユーザーの詳細</h2>
            <div class="user-detail">
                <img src="{{ user.avatar }}">
                <table class="table">
                    <tr>
                        <th>ID</th>
                        <td>{{ user.id }}</td>
                    </tr>
                    <tr>
                        <th>名前</th>
                        <td>{{ user.name }}</td>
                    </tr>
                    <tr>
                        <th>クラス</th>
                        <td>{{ user.year }}{{ user.group }}</td>
                    </tr>
                    <tr>
                        <th>使用許可</th>
                        {% if user.available %}<td>許可</td>{% else %}<td>禁止</td>{% endif %}
                    </tr>
                    <tr>
                        <th>権限</th>
                        <td>{{ user.role }}</td>
                    </tr>
                    <tr>
                        <th>作成日時</th>
                        <td>{{ user.created_at.strftime('%Y年%m月%d日 %H:%M') }}</td>
                    </tr>
                    <tr>
                        <th>更新日時</th>
                        <td>{{ user.updated_at.strftime('%Y年%m月%d日 %H:%M') }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="grid-item">
            <h2>メッセージログ</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">内容</th>
                        <th scope="col">日時</th>
                    </tr>
                </thead>
                    <tbody>
                    {% for message in messages %}
                    <tr>
                        <td>{{ message.content }}</td>
                        <td>{{ message.created_at.strftime('%Y年%m月%d日 %H:%M') }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
