{% extends "common/layout.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/detail.css') }}"/>
<div class="container">
    <div class="sub-grid">
        <div class="grid-item">
            <h2>小テストの詳細</h2>
            <div class="quiz-detail">
                <table class="table">
                    <tr>
                        <th>名前</th>
                        <td>{{ quiz.name }}</td>
                    </tr>
                    <tr>
                        <th>教科</th>
                        <td>{{ quiz.subject }}</td>
                    </tr>
                    <tr>
                        <th>クラス</th>
                        <td>{{ quiz.year }}{{ quiz.group }}</td>
                    </tr>
                    <tr>
                        <th>実施日</th>
                        <td>{{ quiz.implementation_date.strftime('%m月%d日') }}</td>
                    </tr>
                    <tr>
                        <th>最終更新日時</th>
                        <td>{{ quiz.updated_at.strftime('%Y年%m月%d日 %H:%M') }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="grid-item">
            <h2>すべての小テスト</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">名前</th>
                        <th scope="col">教科</th>
                        <th scope="col">実施日</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                    <tbody>
                    {% for test in quiz_all %}
                    <tr>
                        <td><a class="name" href="{{ url_for('quiz_detail', id=test.id) }}">{{ test.name }}</a></td>
                        <td>{{ test.subject }} - {{ test.group }}組</td>
                        <td>{{ test.implementation_date.strftime('%m月%d日') }}</td>
                        <td>
                            <a class="edit_button" href="{{ url_for('quiz_edit', id=test.id) }}" role="button">編集</a>
                        </td>
                    </tr>
                    {% endfor %}
                  </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container">


</div>
{% endblock %}
