{% extends "common/layout.html" %}

{% block content %}
<div class="container">
    <div class="sub-grid">
        <div class="grid-item">
            <h2>ユーザー設定</h2>
            <form action="{{ url_for('user_update', id=user.id) }}" method="POST" class="Form">
                <div class="Form-Item">
                    <p class="Form-Item-Label">
                        名前
                    </p>
                    <input name="name" type="text" class="Form-Item-Input" value="{{ user.name }}">
                </div>
                <div class="Form-Item">
                    <p class="Form-Item-Label">
                        アバター
                    </p>
                    <input name="avatar" type="text" class="Form-Item-Input" value="{{ user.avatar }}">
                </div>
                <div class="Form-Item">
                    <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>学年</p>
                    <select name="year" class="Form-Item-Input">
                        <option value="{{ user.year }}" hidden>{{ user.year }}</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
                <div class="Form-Item">
                    <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>クラス</p>
                    <select name="group" class="Form-Item-Input">
                        <option value="{{ user.group }}" hidden>{{ user.group }}</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                        <option value="F">F</option>
                        <option value="G">G</option>
                        <option value="H">H</option>
                        <option value="I">I</option>
                    </select>
                </div>
                <input type="submit" class="Form-Btn" value="設定完了">
            </form>
        </div>
</div>
{% endblock %}